/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: rgb(4, 30, 66);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
	font-size: .95em;
}

h1,
h2,
h3,
a {
	color: rgb(4, 30, 66);
}

h2 {
	margin-top: 2.25em;
}

h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
	line-height: 0;
  position: relative;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;
	background: rgba(162, 170, 173, 0.65);
  position: absolute;
  bottom: 0;
	text-align: right;
  width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
  margin: 0;
	color:
}

.main-nav {
  margin-top: 5px;
}

.name a,
.main-nav a {
	text-align: center;
  display: block;
  padding: 10px 12px;
}

.main-nav a {
	font-size: .93em;
  font-weight: 600;
	text-transform: uppercase;
	color: rgb(0, 76, 151);
}

.navgap {
	text-align: center;
	display: none;
	padding: 10px 6px;
	font-size: .93em;
	font-weight: 600;
	color: rgb(4, 30, 66);
}

.main-nav a:hover {
	color: rgb(4, 30, 66);
}


/* ---- Layout Containers ---- */

.header-container {
  position: relative;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
}

.col {
  padding-right: 1em;
  padding-left: 1em;
}

.banner {
	color: #fff;
	background: rgb(0, 76, 151);
  text-align: center;
  clear: both;
  padding: 4em 0;
  margin-bottom: 2.25em;
}

.tertiary {
	margin-top: 25px;
}

.main-footer {
	background: rgb(0, 76, 151);
	padding: 2em 0;
	margin-top: 2.25em;
  text-align: center;
	color: #fff;
}

/* ---- Page Elements ---- */

.logo {
	width: 200px;
}

.feat-img {
	margin-top: 15px;
	box-shadow: 0 0 1.5px 1.25px rgba(0, 0, 0, 0.2);
}

.location-img {
  width: 35px;
  position: absolute;
  top: 0px;
  right: -10px;
}

.headline {
  margin-bottom: 0;
	color: #fff;
}

.button {
	color: #fff;
	text-align: center;
	font-size: 1em;
	padding: .7em 2.8em;
	background: rgb(166, 25, 46);
	border-radius: .35em;
  margin-bottom: 1.8em;
	box-shadow: 0 2px 2px rgba(0,0,0,0.6);
	position: relative;
}

.button:hover {
	background-color: rgb(116, 17, 32);
	cursor: pointer;
}

.button:hover .btnIcon {
	opacity: 1;
	left: 81%;
}

.left78:hover .btnIcon {
	opacity: 1;
	left: 78%;
}

.left85:hover .btnIcon {
	opacity: 1;
	left: 85%;
}

.button:active {
	box-shadow: inset 0 0 1.5px 1.25px rgba(0,0,0,0.2);
}

.btnIcon {
	background: url('../img/arrow.svg') no-repeat center / cover;
	opacity: 0;
	display: inline-block;
	width: .8em;
	height: .8em;
	vertical-align: middle;
	position: absolute;
	left: 45%;
	top: 35%;
	transition-property: opacity, left;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out, ease-out;
}

#map {
	max-width: 100%;
	height: 15em;
	box-shadow: 0 0 1.5px 1.25px rgba(0, 0, 0, 0.2);
	margin-bottom: 25px;
}



/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	.col:last-child h2, h2 {
		margin-top: 1em;
	}

	.main-header,
	.container {
	  display: flex;
	  margin: 0 auto;
	  width: 90%;
	}

	.main-header {
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	}

	.main-nav,
	.col {
	  display: flex;
	}

	.navgap {
		display: block;
	}

	.banner {
		margin-bottom: 0;
	}

	.tagline {
	  font-size: 1.4em;
	}

	.container {
	  flex-wrap: wrap;
	}

	.col {
	  flex: 1 50%;
	  flex-direction: column;
	}

	.button {
	  align-self: flex-end;
	}

	.tertiary {
		margin-top: 0;
	}

}


@media (min-width: 1025px) {

	.col:last-child h2, h2 {
		margin-top: 2.25em;
	}

	.main-header,
	.container {
	  width: 80%;
	  max-width: 1150px;
	}

	.main-header {
	  flex-direction: row;
	  justify-content: space-between;
	}

	.col {
	  flex-basis: 0;
	}

	.primary {
	  flex-grow: 1.4;
	}

}
